
/SlideShow/bin
/SlideShow/obj
/MplayerUnitTests/bin
/MplayerUnitTests/obj
/MplayerUnitTests/bin
/MediaPlayer/bin
/MediaPlayer/obj
/LibMPlayerCommon/obj
/MPlayerControl.suo
/LibImages/obj
/LibMPlayerCommon/bin
/LibImages/bin
/WpfMPlayer.suo
/WpfMPlayer/WpfMPlayer.csproj.user
/WpfMPlayer/bin
/WpfMPlayer/obj
/Test/bin
/Test/obj
/MPlayerControl.v11.suo
/LibMPlayerWinform/bin
/LibMPlayerWinform/obj