
/SlideShow/bin/Debug/LibImages.dll
/SlideShow/bin/Debug/LibImages.pdb
/SlideShow/bin/Debug/LibMplayerCommon.dll
/SlideShow/bin/Debug/LibMplayerCommon.pdb
/SlideShow/bin/Debug/SlideShow.exe
/SlideShow/bin/Debug/SlideShow.exe.config
/SlideShow/bin/Debug/SlideShow.pdb
/SlideShow/bin/Release/LibImages.dll
/SlideShow/bin/Release/LibImages.pdb
/SlideShow/bin/Release/LibMplayerCommon.dll
/SlideShow/bin/Release/SlideShow.exe
/SlideShow/bin/Release/SlideShow.exe.config
/SlideShow/bin/Release/SlideShow.pdb
/SlideShow/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SlideShow/obj/x86/Debug/ResGen.read.1.tlog
/SlideShow/obj/x86/Debug/ResGen.write.1.tlog
/SlideShow/obj/x86/Debug/SlideShow.MainForm.resources
/SlideShow/obj/x86/Debug/SlideShow.Properties.Resources.resources
/SlideShow/obj/x86/Debug/SlideShow.csproj.FileListAbsolute.txt
/SlideShow/obj/x86/Debug/SlideShow.exe
/SlideShow/obj/x86/Debug/SlideShow.pdb
/SlideShow/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SlideShow/obj/x86/Release/ResGen.read.1.tlog
/SlideShow/obj/x86/Release/ResGen.write.1.tlog
/SlideShow/obj/x86/Release/SlideShow.MainForm.resources
/SlideShow/obj/x86/Release/SlideShow.Properties.Resources.resources
/SlideShow/obj/x86/Release/SlideShow.csproj.FileListAbsolute.txt
/SlideShow/obj/x86/Release/SlideShow.exe
/SlideShow/obj/x86/Release/SlideShow.pdb
/SlideShow/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/MplayerUnitTests/bin/x86/Release/LibImages.pdb
/MplayerUnitTests/bin/x86/Release/LibMplayerCommon.dll
/MplayerUnitTests/bin/x86/Release/MplayerUnitTests.exe
/MplayerUnitTests/bin/x86/Release/MplayerUnitTests.pdb
/MplayerUnitTests/bin/x86/Release/nunit.framework.dll
/MplayerUnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MplayerUnitTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MplayerUnitTests/obj/Release/build.force
/MplayerUnitTests/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MplayerUnitTests/obj/x86/Debug/MplayerUnitTests.csproj.FileListAbsolute.txt
/MplayerUnitTests/obj/x86/Debug/MplayerUnitTests.exe
/MplayerUnitTests/obj/x86/Debug/MplayerUnitTests.pdb
/MplayerUnitTests/obj/x86/Debug/ResolveAssemblyReference.cache
/MplayerUnitTests/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MplayerUnitTests/obj/x86/Release/MplayerUnitTests.csproj.FileListAbsolute.txt
/MplayerUnitTests/obj/x86/Release/MplayerUnitTests.exe
/MplayerUnitTests/obj/x86/Release/MplayerUnitTests.pdb
/MplayerUnitTests/obj/x86/Release/ResolveAssemblyReference.cache
/MediaPlayer/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayer/obj/x86/Release/MediaPlayer.Player.resources
/MediaPlayer/obj/x86/Release/MediaPlayer.PlayerProperties.resources
/MediaPlayer/obj/x86/Release/MediaPlayer.Properties.Resources.resources
/MediaPlayer/obj/x86/Release/MediaPlayer.csproj.FileListAbsolute.txt
/MediaPlayer/obj/x86/Release/MediaPlayer.exe
/MediaPlayer/obj/x86/Release/ResGen.read.1.tlog
/MediaPlayer/obj/x86/Release/ResGen.write.1.tlog
/MediaPlayer/obj/x86/Release/ResolveAssemblyReference.cache
/MediaPlayer/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/MplayerUnitTests/bin/x86/Debug/LibImages.dll
/MplayerUnitTests/bin/x86/Debug/LibImages.pdb
/MplayerUnitTests/bin/x86/Debug/LibMplayerCommon.dll
/MplayerUnitTests/bin/x86/Debug/LibMplayerCommon.pdb
/MplayerUnitTests/bin/x86/Debug/MplayerUnitTests.exe
/MplayerUnitTests/bin/x86/Debug/MplayerUnitTests.pdb
/MplayerUnitTests/bin/x86/Debug/nunit.framework.dll
/MplayerUnitTests/bin/x86/Release/LibImages.dll
/MediaPlayer/bin/Debug/MediaPlayer.exe.config
/MediaPlayer/bin/Debug/MediaPlayer.pdb
/MediaPlayer/bin/Release/LibImages.dll
/MediaPlayer/bin/Release/LibImages.pdb
/MediaPlayer/bin/Release/LibMplayerCommon.dll
/MediaPlayer/bin/Release/MediaPlayer.exe
/MediaPlayer/bin/Release/MediaPlayer.exe.config
/MediaPlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayer/obj/x86/Debug/MediaPlayer.Player.resources
/MediaPlayer/obj/x86/Debug/MediaPlayer.PlayerProperties.resources
/MediaPlayer/obj/x86/Debug/MediaPlayer.Properties.Resources.resources
/MediaPlayer/obj/x86/Debug/MediaPlayer.csproj.FileListAbsolute.txt
/MediaPlayer/obj/x86/Debug/MediaPlayer.exe
/MediaPlayer/obj/x86/Debug/MediaPlayer.pdb
/MediaPlayer/obj/x86/Debug/ResGen.read.1.tlog
/MediaPlayer/obj/x86/Debug/ResGen.write.1.tlog
/MediaPlayer/obj/x86/Debug/ResolveAssemblyReference.cache
/LibMPlayerCommon/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LibMPlayerCommon/obj/Release/build.force
/LibMPlayerCommon/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibMPlayerCommon/obj/x86/Debug/LibMPlayerCommon.csproj.FileListAbsolute.txt
/LibMPlayerCommon/obj/x86/Debug/LibMplayerCommon.dll
/LibMPlayerCommon/obj/x86/Debug/LibMplayerCommon.pdb
/LibMPlayerCommon/obj/x86/Debug/ResolveAssemblyReference.cache
/LibMPlayerCommon/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LibMPlayerCommon/obj/x86/Release/LibMPlayerCommon.csproj.FileListAbsolute.txt
/LibMPlayerCommon/obj/x86/Release/LibMplayerCommon.dll
/LibMPlayerCommon/obj/x86/Release/ResolveAssemblyReference.cache
/MPlayerControl.suo
/MediaPlayer/bin/Debug/LibImages.dll
/MediaPlayer/bin/Debug/LibImages.pdb
/MediaPlayer/bin/Debug/LibMplayerCommon.dll
/MediaPlayer/bin/Debug/LibMplayerCommon.pdb
/MediaPlayer/bin/Debug/MediaPlayer.exe
/LibImages/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/obj/x86/Debug/LibImages.csproj.FileListAbsolute.txt
/LibImages/obj/x86/Debug/LibImages.dll
/LibImages/obj/x86/Debug/LibImages.pdb
/LibImages/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/obj/x86/Release/LibImages.csproj.FileListAbsolute.txt
/LibImages/obj/x86/Release/LibImages.dll
/LibImages/obj/x86/Release/LibImages.pdb
/LibMPlayerCommon/bin/Debug/LibImages.dll
/LibMPlayerCommon/bin/Debug/LibImages.pdb
/LibMPlayerCommon/bin/Debug/LibMplayerCommon.dll
/LibMPlayerCommon/bin/Debug/LibMplayerCommon.pdb
/LibMPlayerCommon/bin/Release/LibImages.dll
/LibMPlayerCommon/bin/Release/LibImages.pdb
/LibMPlayerCommon/bin/Release/LibMplayerCommon.dll
/LibMPlayerCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/bin/x86/Debug/LibImages.dll
/LibImages/bin/x86/Debug/LibImages.pdb
/LibImages/bin/x86/Release/LibImages.dll
/LibImages/bin/x86/Release/LibImages.pdb
/WpfMPlayer.suo
/WpfMPlayer/WpfMPlayer.csproj.user
/WpfMPlayer/bin/Debug/LibImages.dll
/WpfMPlayer/bin/Debug/LibImages.pdb
/WpfMPlayer/bin/Debug/LibMplayerCommon.dll
/WpfMPlayer/bin/Debug/LibMplayerCommon.pdb
/WpfMPlayer/bin/Debug/WpfMPlayer.exe
/WpfMPlayer/bin/Debug/WpfMPlayer.pdb
/WpfMPlayer/bin/Debug/WpfMPlayer.vshost.exe
/WpfMPlayer/obj/Debug/App.g.i.cs
/WpfMPlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfMPlayer/obj/Debug/MainWindow.g.i.cs
/WpfMPlayer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WpfMPlayer/obj/Debug/WpfMPlayer_MarkupCompile.i.cache
/WpfMPlayer/obj/x86/Debug/App.g.cs
/WpfMPlayer/obj/x86/Debug/App.g.i.cs
/WpfMPlayer/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/WpfMPlayer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfMPlayer/obj/x86/Debug/GenerateResource.read.1.tlog
/WpfMPlayer/obj/x86/Debug/GenerateResource.write.1.tlog
/WpfMPlayer/obj/x86/Debug/MainWindow.baml
/WpfMPlayer/obj/x86/Debug/MainWindow.g.cs
/WpfMPlayer/obj/x86/Debug/MainWindow.g.i.cs
/WpfMPlayer/obj/x86/Debug/ResolveAssemblyReference.cache
/WpfMPlayer/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WpfMPlayer/obj/x86/Debug/WpfMPlayer.Properties.Resources.resources
/WpfMPlayer/obj/x86/Debug/WpfMPlayer.csproj.FileListAbsolute.txt
/WpfMPlayer/obj/x86/Debug/WpfMPlayer.exe
/WpfMPlayer/obj/x86/Debug/WpfMPlayer.g.resources
/WpfMPlayer/obj/x86/Debug/WpfMPlayer.pdb
/WpfMPlayer/obj/x86/Debug/WpfMPlayer_MarkupCompile.cache
/WpfMPlayer/obj/x86/Debug/WpfMPlayer_MarkupCompile.i.cache
/WpfMPlayer/bin/Debug/WpfMPlayer.vshost.exe.manifest
/WpfMPlayer/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
/WpfMPlayer/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
/WpfMPlayer/obj/x86/Debug/WpfMPlayerControl.baml
/WpfMPlayer/obj/x86/Debug/WpfMPlayerControl.g.cs
/WpfMPlayer/obj/x86/Debug/WpfMPlayerControl.g.i.cs
/WpfMPlayer/obj/x86/Debug/WpfMPlayer_MarkupCompile.i.lref
/WpfMPlayer/obj/x86/Debug/WpfMPlayer_MarkupCompile.lref
LibImages.dll
LibImages.pdb
LibImages.csproj.FileListAbsolute.txt
LibImages.dll
LibImages.pdb
build.force
LibMPlayerCommon.csproj.FileListAbsolute.txt
LibMplayerCommon.dll
ResolveAssemblyReference.cache
LibImages.dll
LibImages.pdb
LibMplayerCommon.dll
WpfMPlayer.exe
WpfMPlayer.pdb
WpfMPlayer.vshost.exe
WpfMPlayer.vshost.exe.manifest
GeneratedInternalTypeHelper.g.i.cs
WpfMPlayerControl.g.i.cs
WpfMPlayer_MarkupCompile.i.lref
App.g.cs
App.g.i.cs
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
GenerateResource.read.1.tlog
GenerateResource.write.1.tlog
GeneratedInternalTypeHelper.g.cs
GeneratedInternalTypeHelper.g.i.cs
MainWindow.baml
MainWindow.g.cs
MainWindow.g.i.cs
ResolveAssemblyReference.cache
Properties.Resources.Designer.cs.dll
WpfMPlayer.Properties.Resources.resources
WpfMPlayer.csproj.FileListAbsolute.txt
WpfMPlayer.exe
WpfMPlayer.g.resources
WpfMPlayer.pdb
WpfMPlayerControl.baml
WpfMPlayerControl.g.cs
WpfMPlayerControl.g.i.cs
WpfMPlayer_MarkupCompile.cache
WpfMPlayer_MarkupCompile.i.cache
WpfMPlayer_MarkupCompile.i.lref
WpfMPlayer_MarkupCompile.lref
