[Unit]
Description=Majorsilence Media Web API
Wants=network-online.target
After=network-online.target

# How to install:
# Copy /etc/systemd/system/majorsilence-media-web.service
# systemctl daemon-reload
# systemctl enable majorsilence-media-web.service
# systemctl start majorsilence-media-web.service
# Certificates
# Production: use letsencrypt
# Dev: self signed certs, change localhost to the host address
# openssl req -x509 -newkey rsa:4096 -keyout /opt/majorsilence/media-web/certs/selfsigned.key -out /opt/majorsilence/media-web/certs/selfsigned.crt -days 365 -nodes -subj '/CN=localhost'
# sudo -S chown media-web:media-web -R /opt/majorsilence/media-web 

[Service]
# In production use a dedicated user/group.
# sudo useradd -m media-web
# To update permissions, use 'chown media-web:media-web -R /opt/majorsilence/media-web' to take ownership of the folder and files,
# Use 'chmod +x /opt/majorsilence/media-web/app' to allow execution of the executable file.
User=media-web

ExecStart=/opt/majorsilence/media-web/app/Majorsilence.Media.Web
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog" >> /etc/systemd/system/majorsilence-media-web.service
StandardError=syslog                # Output to syslog" >> /etc/systemd/system/majorsilence-media-web.service
SyslogIdentifier=majorsilence-media-web
WorkingDirectory=/opt/majorsilence/media-web/app

# https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-8.0&tabs=linux-ubuntu
KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS="http://+:8082"
# if using certs comment out above line and uncomment the line below
#Environment=ASPNETCORE_URLS="https://+:8083;http://+:8082"
# if using a pfx uncomment the following two lines
#Environment=ASPNETCORE_Kestrel__Certificates__Default__Password="testing_cert_password"
#Environment=ASPNETCORE_Kestrel__Certificates__Default__Path="/opt/majorsilence/media-web/certs/majorsilence-media-web-certs.pfx"
# if using crt and key uncomment following two lines
#Environment=ASPNETCORE_Kestrel__Certificates__Default__Path="/opt/majorsilence/media-web/certs/selfsigned.crt"
#Environment=ASPNETCORE_Kestrel__Certificates__Default__KeyPath="/opt/majorsilence/media-web/certs/selfsigned.key"
Environment=ApiSettings__UploadFolder=/opt/majorsilence/media-web/data/uploads
Environment=ApiSettings__PermittedCORS__0="https://*.majorsilence.com"
Environment=ApiSettings__Jwt__Secret="PLACEHOLDER"
Environment=ApiSettings_Jwt__Issuer="https://PLACEHOLDER"
Environment=ApiSettings_Jwt__Audience="https://PLACEHOLDER"

# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target