<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Majorsilence.Media.Desktop.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Majorsilence.Media.Desktop.UI.Properties.Settings>
            <setting name="MPlayerPath" serializeAs="String">
                <value />
            </setting>
        </Majorsilence.Media.Desktop.UI.Properties.Settings>
    </userSettings>
</configuration>